.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  background: #f3f3f3ea;
  width: 600px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.form-field {
  background: #fff;
  border: 5px solid #fff;
  box-sizing: border-box;
  border-radius: 3px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  color: #3a3a3a
}

.btnRegister {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10px;
  justify-content: center;
  width: 120px;
  height: 50px;
  border: 0;
  border-color: #fff;
  border-radius: 5px;
  background: #fff;
  color: #04d361;
  font-weight: bold;
}

.btnRegister:hover {
  background: #04d361;
  color: #fff;
  border: 2px solid #fff;
}

.btnClose {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  justify-content: center;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #f4364c;
  font-weight: bold;
}

.btnClose:hover {
  background: #f4364c;
  color: #fff;
  border: 2px solid #fff;
}

.select-field {
  background: #fff;
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  color: #3a3a3a
}
